@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
	font-style: normal;
	font-display: auto;
} /* Custom Font Link */
body{
	margin:0;
	padding:0;
	font-family: 'open_sansregular', sans-serif;
	font-size: 16px;
}
h3{
	text-align: center;
}
.calculos {
	color: cornflowerblue;
} /* Color de los cálculos */
.importante {
	font-weight: bold;
	color: green;
} /* Color para números importantes */
.custom-nav{
	border:0px;
	border-radius: 0px;
	background-color: #fff!important;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
header{
	height: 500px;
	background-color: rgba(0,0,0,0.3);
	background-blend-mode: overlay;
	color:#fff;
	padding:125px 0px;
	box-sizing: border-box;
}
.banner-title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 70px;
}
.pad{
	padding:40px 0px;
}
.right-area{
	border-left: 1px dotted #2e2e2e;
	padding-left: 15px;
}
@media (max-width: 500px){
	.y-icon{
		margin: 15px;
	}
}