{% extends "layout.html" %}
{% block content %}
<div class="container pad">
    <div class="header px-3 py-3 mx-auto text-center">
        <h1>¡Bienvenido!</h1>
        <p class="primary">Elegí la operación deseada</p>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Plazos fijos</h5>
                <p class="card-text">Calculá la mejor inversión para tu bolsillo.</p>
                <a href="/plazo" class="btn btn-primary">Calcular</a>
            </div>
            <img class="card-img-bottom" src="/static/images/plazo-fijo.jpg" sizes=200px alt="Photo by rawpixel on Unsplash">
        </div>
        <div class="card">
            <img class="card-img-top" src="/static/images/prestamo.jpg", alt="Photo by rawpixel on Unsplash">
            <div class="card-body">
                <h5 class="card-title">Préstamos</h5>
                <p class="card-text">¿Necesitas dinero? Solicita acá tu préstamo.</p>
                <a href="/prestamo" class="btn btn-primary">Solicitar</a>
            </div>
        </div>
    </div><!-- Card-Deck -->
    </div><!-- Container -->
</div>
{% endblock %}