{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="header px-3 py-3 mx-auto text-center">
        <img src="/static/logo2.png" style="padding-top: 20px" alt="FinanzUP!">
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Plazos fijos</h5>
                <p class="card-text">Calculá la mejor inversión para tus clientes.</p>
                <a href="/plazo" class="btn btn-primary">Calcular</a>
            </div>
            <img class="card-img-bottom" src="/static/images/plazo-fijo.jpg" sizes=200px alt="Photo by rawpixel on Unsplash">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Préstamos</h5>
                <p class="card-text">Solicitá un préstamo accesible.</p>
                <a href="/prestamo" class="btn btn-primary">Solicitar</a>
            </div>
            <img class="card-img-bottom" src="/static/images/prestamo.jpg", alt="Photo by rawpixel on Unsplash">
        </div>
    </div><!-- Card-Deck -->
    </div><!-- Container -->
</div>
{% endblock %}