{% extends "layout.html" %}
{% block content %}
<div class="row">
    <h1>¡Bienvenido!</h1>
</div>
<div class="row">
    Elija la operación a realizar
</div>
<div class="card-group">
    <div class="card">
        <img aria-setsize="304px" class="card-img-top" src="https://proxy.duckduckgo.com/iur/?f=1&image_host=http%3A%2F%2Fpatriciaannbridewell.files.wordpress.com%2F2014%2F04%2Fofficial-twitter-logo-tile.png&u=https://patriciaannbridewell.files.wordpress.com/2014/04/official-twitter-logo-tile.png"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Plazos fijos</h5>
            <p class="card-text">Calculá el mejor plazo fijo para tu bolsillo.</p>
            <a href="#" class="btn btn-primary">Calcular</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://proxy.duckduckgo.com/iur/?f=1&image_host=http%3A%2F%2Fpatriciaannbridewell.files.wordpress.com%2F2014%2F04%2Fofficial-twitter-logo-tile.png&u=https://patriciaannbridewell.files.wordpress.com/2014/04/official-twitter-logo-tile.png"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Préstamos</h5>
            <p class="card-text">¿Necesitas dinero? Solicita acá tu préstamo.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
{% endblock %}