<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Calculadora Financiera</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Bootstrap CSS-->
	<link rel="stylesheet" type="text/css" href="../static/bootstrap.css">
	
	<!-- My CSS -->
	<link rel="stylesheet" type="text/css" href="../static/style.css" />
	
	<!-- My Javascript -->
	<script src="../static/amortizacion.js" defer></script>
	<script src="../static/plazofijo.js" defer></script>
	
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light custom-nav">
			<a class="navbar-brand">Calculadora Financiera</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="/">Inicio</a>
					<a class="nav-item nav-link" href="/plazo">Plazo Fijo</a>
					<a class="nav-item nav-link" href="/prestamo">Préstamo</a>
					</li>
				</div>
			</div>
	</nav>
        {% block content %}
        {% endblock %}
</body>
</html>