<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Calculadora Financiera</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/static/favicon.ico" type="image/x-icon">

	<!-- Bootstrap CSS-->
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
	
	<!-- My CSS -->
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
	
	<!-- JQuery JS-->
	<script src="/static/jquery-3.3.1.min.js" defer></script>
	
	<!-- My Javascript -->
	<script src="/static/amortizacion.js" defer></script>
	<script src="/static/plazofijo.js" defer></script>
	
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light custom-nav">
		<a class="navbar-brand">Calculadora Financiera</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown
			 aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="/">Inicio</a>
					<a class="nav-item nav-link" href="/plazo">Plazo Fijo</a>
					<a class="nav-item nav-link" href="/prestamo">Préstamo</a>
					<li class="nav-item" > 
						<a class="nav-link" href="/admin">Admin</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Clientes
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">Plazo Fijo</a>
							<a class="dropdown-item" href="#">Préstamo</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</li>
				</div>
			</div>
	</nav>
	{% if get_flashed_messages() %}
			<div class="alert alert-success border text-center" role="alert">
				{{ get_flashed_messages() | join(" ") }}
			</div>
	{% endif %}

        {% block content %}
        {% endblock %}
</body>
</html>