{% extends "layout.html" %}
{% block content %}
<div class="container pad">
    <div class="row">
        <div class="col-md-4">
            <h3>Calculá tu inversión</h3>
            <p>Ingresá los datos y presiona calcular para obtener los resultados.</p>
            <form action="/solicitud" method="GET">
                <div class="form-group">
                    <label for="capitalLabel">Capital</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input type="number" name="capital" class="form-control" id="capital" aria-describedby="capitalHelp" max="100000" min="5000"
                        step="5000" placeholder="5000">
                    </div>
                    <small id="capitalHelp" class="form-text text-muted">Máximo $100000</small>
                </div>
                <div class="form-group">
                    <label for="plazoLabel">Duración del préstamo</label>
                    <input type="number" name="plazo" class="form-control" id="plazo" aria-describedby="plazoHelp" max="365" min="30" placeholder="30">
                    <small id="plazoHelp" class="form-text text-muted">Máximo 365 días</small>
                </div>
                <button onclick="calcularPlazo()" id="Calcular" type="button" class="btn btn-primary">Calcular</button>
                <button type="submit" id="solicitudPlazo" class="btn btn-success">Solicitar</button>
            </form>
        </div><!-- Columna Izquierda -->
        <div class="col-md-8">
            <div class="right-area">
                <h3 class="alert alert-primary">Intereses Producidos</h3>
                <form>
                    <div class="form-group row">
                        <label for="Intereses" class="col-sm-5 col-form-label">Intereses</label>
                        <div class="col-sm-3">
                            <label type="text" class="col-form-label" id="Intereses"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Resultado" class="col-sm-5 col-form-label">Capital + Intereses</label>
                        <div class="col-sm-3">
                            <label type="text" class="col-form-label" id="Resultado"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Vencimiento" class="col-sm-5 col-form-label">Fecha de Vencimiento</label>
                        <div class="col-sm-3">
                            <label type="text" class="col-form-label" id="Vencimiento"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <abbr class="col-sm-5 col-form-label" for="tna" title="Tasa Nominal Anual">TNA</abbr>
                        <div class="col-sm-3">
                            <label type="text" class="col-form-label" id="TNA"></label>
                        </div>
                    </div>
                </form>
            </div>
        </div> <!-- Columna Derecha --> 
    </div>
</div>
{% endblock %}