{% extends "layout.html" %}
{% block content %}
<div class="container pad">
    <div class="row">
        <div class="col-md-4">
            <h3>Calculá tu inversión</h3>
            <p>Ingresá los datos y presiona calcular para obtener los resultados.</p>
            <form>
                <div class="form-group">
                    <label for="capitalLabel">Capital</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input type="number" class="form-control" id="capital" aria-describedby="capitalHelp" max="100000" min="5000"
                        step="5000" placeholder="5000">
                    </div>
                    <small id="capitalHelp" class="form-text text-muted">Máximo $100000</small>
                </div>
                <div class="form-group">
                    <label for="plazoLabel">Duración del préstamo</label>
                    <input type="number" class="form-control" id="plazo" aria-describedby="plazoHelp" max="365" min="30" placeholder="30">
                    <small id="plazoHelp" class="form-text text-muted">Máximo 365 días</small>
                </div>
                <button onclick="calcularPlazo()" id="Calcular" type="button" class="btn btn-primary">Calcular</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}