{% extends "layout.html" %}
{% block content %}
<div class="container pad">
    <h3>Usted va a depositar $ {{valor[0]}} por {{valor[1]}} días a una tasa del {{valor[2]}}%</h3>
    <p>Para finalizar la solicitud ingrese los datos del cliente.</p>
    <form action="/solicitud" method="post">
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Juan" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control" id="apellido" placeholder="Perez" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="validationDefault03">City</label>
                <input type="text" class="form-control" id="validationDefault03" placeholder="City" required>
            </div>
            <div class="col-md-3 mb-3">
            <label for="validationDefault04">State</label>
            <input type="text" class="form-control" id="validationDefault04" placeholder="State" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationDefault05">Zip</label>
                <input type="text" class="form-control" id="validationDefault05" placeholder="Zip" required>
            </div>
            </div>
    </form>
</div>
{% endblock %}