{% extends "layout.html" %}
{% block content %}
<div class="container pad">
    <h3>Usted va a depositar $ {{valor[0]}} por {{valor[1]}} días a una tasa nominal anual del {{valor[2]}}%</h3>
    <p>Para finalizar la solicitud ingrese los datos del cliente.</p>
    <form action="/solicitud" method="POST" class="centrado">
        <div class="form-row justify-content-center">
            <div class="col-6 centrado-form">
                <label for="dni">DNI</label>
                <input type="text" class="form-control" id="dni" name="dni" placeholder="Juan" required>
                <button type="button" class="btn btn-primary" onclick="consultaUsuario()">Consultar</button>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-6 centrado-form">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Juan" required>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-6 centrado-form">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Perez" required>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-6 centrado-form">
                <label for="direccion">Localidad</label>
                <input type="text" class="form-control" id="localidad" name="localidad" placeholder="Localidad" required>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-6 centrado-form">
                <label for="telefono">Teléfono</label>
                <input type="text" class="form-control" id="telefono" name="telefono" placeholder="0353 1 234 567" required>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-6 centrado-form">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="juanperez@hotmail.com" required>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-6 centrado-form">
                <button type="submit" id="enviarPlazo" class="btn btn-success">✔︎ Solicitar</button>
                <input action="action" onclick="window.history.go(-1); return false;" type="button" value="← Atrás" class="btn btn-secondary"></input>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function consultaUsuario() {
        let dni = document.getElementById("dni").value
        
        if (!dni) {
            alert("Por favor ingrese los datos solicitados.");
            throw new Error("Por favor ingrese los datos solicitados")
        }
        
        $.ajax({
        url: "/consultaUser",
        method: "GET",
        async: false,
        data: {
            dni: dni
        }
        }) 
        .done(function(usuario) {
            if (usuario == 'no') {
                alert('El usuario no está registrado. Por favor ingrese los datos.');                
            } else {
                document.getElementById('nombre').value = usuario[0]['nombre']
                document.getElementById('apellido').value = usuario[0]['apellido']
                document.getElementById('localidad').value = usuario[0]['localidad']
                document.getElementById('telefono').value = usuario[0]['telefono']
                document.getElementById('email').value = usuario[0]['email']
            }

        });
    }
</script>
{% endblock %}