{% extends "layout.html" %}
{% block content %}
<div class="container pad">
    <input type="number" id="dni" name="dni">
    <br>
    <button onclick="consultaUsuario()">Consultar</button>
    <br>
    <label for="asddd">Existe?</label>
    <br>
    <label for="asd" id="existe"></label>
    <input type="text" id="nombre">
</div>
<script type="text/javascript">
    function consultaUsuario() {
        let dni = document.getElementById("dni").value
        
        $.ajax({
        url: "/consultaUser",
        method: "GET",
        async: false,
        data: {
            dni: dni
        }
        }) 
        .done(function(usuario) {
            if (usuario == 'no') {
                alert('El usuario no está registrado. Por favor ingrese los datos.');                
            } else {
                document.getElementById('nombre').value = usuario[0]['nombre']
                console.log(usuario);
            }

        });
    }
</script>
{% endblock %}